@model SelfAplication.ViewModels.NewCharacterViewModel

    <form asp-action="Add" method="post">
        <div class="form-group">
            <label asp-for="BasicName" class="control-label">Imię postaci</label>
            <input asp-for="BasicName" class="form-control" />
            <span asp-validation-for="BasicName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BasicLvl" class="control-label">LVL</label>
            <input asp-for="BasicLvl" class="form-control" />
            <span asp-validation-for="BasicLvl" class="text-danger"></span>
        </div>
        <button class="btn btn-block btn-primary" type="submit">Stwórz postać</button>


        <br />
        <p>POLA DO DODANIA</p>


        string BasicName 
        int BasicLvl 
        string BasicRace 
        string BasicClass 
        string AdvancedCharacterDesc 
        int AdvancedWill 
        int AdvancedBaseAtk 
        int AdvancedMeleAtk 
        int AdvancedRangedAtk 
        int AdvancedDodge 
        int AbilitiesPoints 



        int StatStrenght 
        int StatInteligence 
        int StatDexterity 
        int StatWisdom 
        int StatConstitution 
        int StatCharisma 

        int AbilityConcetration 
        int AbilityAlchemy 
        string Inventory 
        int Gold { 














    </form>
