<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SelfAplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <

    <div id="container">
        @RenderBody()


        <div id="logo">
            
        </div>




        <div id="nav">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Lista</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Character" asp-action="GetAddPage">Dodaj postać</a>
                </li>
            </ul>
        </div>





        <div id="content">











        </div>

        <div id="side"> COŚ PO PRAWEJ STRONIE </div>
        <div id="footer"> COŚ NA DOLE STRONY-FOOTER </div>
















        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - Olaf K. - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>







    </div>



        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>
